flows.json
[
    {
        "id": "d1331c655e18cc12",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b607c4bf53459a4",
        "type": "subflow",
        "name": "Button",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "d81c5188f589b9d7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "label",
                "type": "str",
                "value": "Button",
                "ui": {
                    "icon": "font-awesome/fa-align-justify",
                    "label": {
                        "en-US": "Label"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "payloadOut",
                "type": "str",
                "value": "Button Message",
                "ui": {
                    "icon": "font-awesome/fa-file-text-o",
                    "label": {
                        "en-US": "Message"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "left",
                "type": "str",
                "value": "500",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "label": {
                        "en-US": "x"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "top",
                "type": "str",
                "value": "300",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "label": {
                        "en-US": "y"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "width",
                "type": "str",
                "value": "180",
                "ui": {
                    "icon": "font-awesome/fa-text-width",
                    "label": {
                        "en-US": "Width"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "height",
                "type": "str",
                "value": "60",
                "ui": {
                    "icon": "font-awesome/fa-text-height",
                    "label": {
                        "en-US": "Height"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "fontSize",
                "type": "str",
                "value": "14"
            },
            {
                "name": "fontFamily",
                "type": "str",
                "value": "Arial, sans-serif",
                "ui": {
                    "label": {
                        "en-US": "Font"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Arial, sans-serif"
                                },
                                "v": "Arial, sans-serif"
                            },
                            {
                                "l": {
                                    "en-US": "Helvetica, sans-serif"
                                },
                                "v": "Helvetica, sans-serif"
                            },
                            {
                                "l": {
                                    "en-US": "Comic Sans MS, cursive"
                                },
                                "v": "Comic Sans MS, cursive"
                            },
                            {
                                "l": {
                                    "en-US": "Times New Roman, serif"
                                },
                                "v": "Times New Roman, serif"
                            },
                            {
                                "l": {
                                    "en-US": "Georgia, serif"
                                },
                                "v": "Georgia, serif"
                            },
                            {
                                "l": {
                                    "en-US": "Courier New, monospace"
                                },
                                "v": "Courier New, monospace"
                            },
                            {
                                "l": {
                                    "en-US": "Monaco, monospace"
                                },
                                "v": "Monaco, monospace"
                            },
                            {
                                "l": {
                                    "en-US": "Menlo, monospace"
                                },
                                "v": "Menlo, monospace"
                            },
                            {
                                "l": {
                                    "en-US": "Times New Roman, serif"
                                },
                                "v": "Times New Roman, serif"
                            },
                            {
                                "l": {
                                    "en-US": "Roboto, sans-serif"
                                },
                                "v": "Roboto, sans-serif"
                            }
                        ]
                    }
                }
            },
            {
                "name": "textColor",
                "type": "str",
                "value": "white",
                "ui": {
                    "icon": "font-awesome/fa-header",
                    "label": {
                        "en-US": "Text Color"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "textAlign",
                "type": "str",
                "value": "center"
            },
            {
                "name": "color",
                "type": "str",
                "value": "black",
                "ui": {
                    "icon": "font-awesome/fa-h-square",
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "pressedColor",
                "type": "str",
                "value": "darkgrey",
                "ui": {
                    "icon": "font-awesome/fa-h-square",
                    "label": {
                        "en-US": "Pressed Color"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "border",
                "type": "str",
                "value": "1px solid white",
                "ui": {
                    "icon": "font-awesome/fa-window-maximize",
                    "label": {
                        "en-US": "Border"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "borderRadius",
                "type": "str",
                "value": "6",
                "ui": {
                    "icon": "font-awesome/fa-circle-o",
                    "label": {
                        "en-US": "Corner Radius"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "fontWeight",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-bold",
                    "label": {
                        "en-US": "Font Weight"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "alignItems",
                "type": "str",
                "value": ""
            },
            {
                "name": "wrapText",
                "type": "str",
                "value": "1"
            },
            {
                "name": "pressDelay",
                "type": "str",
                "value": "200",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Pressed Time"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#87A980",
        "icon": "node-red/mouse.svg"
    },
    {
        "id": "ae0cbc766fdbb2ea",
        "type": "subflow",
        "name": "nav",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "10f6dc27bf153ffb",
        "type": "subflow",
        "name": "Background",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "fileName",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-file-text",
                    "label": {
                        "en-US": "File Name"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1899ad506aec9742",
        "type": "subflow",
        "name": "Framing Tool",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            }
        ],
        "meta": {},
        "color": "#FFAAAA",
        "icon": "font-awesome/fa-object-group"
    },
    {
        "id": "854fcf2db95431c0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "01496d579d794450",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c3989f5aa8752b8b",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "854fcf2db95431c0",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "01496d579d794450",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1bef072d29f3f4c1",
        "type": "ui-group",
        "name": "Group 1",
        "page": "c3989f5aa8752b8b",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "e50371a06584f998",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#878787",
            "primary": "#990000",
            "bgPage": "#000000",
            "groupBg": "#000000",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1f95c29a49b03d4f",
        "type": "ui-page",
        "name": "T-Mobile 5G",
        "ui": "854fcf2db95431c0",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "e50371a06584f998",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "31683a5f94497919",
        "type": "function",
        "z": "1b607c4bf53459a4",
        "name": "function 3",
        "func": "msg.top             = Number(env.get(\"top\"));\nmsg.left            = Number(env.get(\"left\"));\nmsg.width           = Number(env.get(\"width\"));\nmsg.height          = Number(env.get(\"height\"));\n\nmsg.color           = env.get(\"color\");\nmsg.pressedColor    = env.get(\"pressedColor\");\n\nmsg.border          = env.get(\"border\");\nmsg.borderRadius    = Number(env.get(\"borderRadius\"));\n\nmsg.fontFamily      = env.get(\"fontFamily\");\nmsg.fontSize        = Number(env.get(\"fontSize\"));\nmsg.fontWeight      = env.get(\"fontWeight\");\n\nmsg.textColor       = env.get(\"textColor\");\nmsg.textAlign       = env.get(\"textAlign\");\nmsg.alignItems      = env.get(\"alignItems\");\nmsg.justifyContent  = env.get(\"justifyContent\");\n\nmsg.wrapText        = env.get(\"wrapText\") === true || env.get(\"wrapText\") === \"true\";\n\nmsg.label           = env.get(\"label\");\nmsg.payloadOut      = env.get(\"payloadOut\");\nmsg.pressDelay      = env.get(\"pressDelay\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "d81c5188f589b9d7"
            ]
        ]
    },
    {
        "id": "83a122aba3d48036",
        "type": "inject",
        "z": "1b607c4bf53459a4",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "31683a5f94497919"
            ]
        ]
    },
    {
        "id": "d81c5188f589b9d7",
        "type": "ui-template",
        "z": "1b607c4bf53459a4",
        "group": "1bef072d29f3f4c1",
        "page": "${group}",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div :style=\"wrapperStyle\" @click=\"sendMessage\">\n    <div :style=\"buttonStyle\">\n      <span :style=\"labelStyle\">\n        {{ msg.label || \"Button\" }}\n      </span>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return { isPressed: false };\n  },\n  computed: {\n    wrapperStyle() {\n      return {\n        position: \"absolute\",\n        top: (this.msg.top || 0) + \"px\",\n        left: (this.msg.left || 0) + \"px\",\n        width: (this.msg.width || 140) + \"px\",\n        height: (this.msg.height || 40) + \"px\",\n        cursor: \"pointer\"\n      };\n    },\n    buttonStyle() {\n      return {\n        backgroundColor: this.isPressed\n          ? (this.msg.pressedColor || \"#888\")\n          : (this.msg.color || \"#ccc\"),\n        border: this.msg.border || \"none\",\n        borderRadius: (this.msg.borderRadius || 0) + \"px\",\n        width: \"100%\",\n        height: \"100%\",\n        display: \"flex\",\n        alignItems: this.msg.alignItems || \"center\",\n        justifyContent: this.msg.justifyContent || \"center\",\n        overflow: this.msg.wrapText === false ? \"hidden\" : \"visible\",\n        whiteSpace: this.msg.wrapText === false ? \"nowrap\" : \"normal\"\n      };\n    },\n    labelStyle() {\n      return {\n        fontFamily: this.msg.fontFamily || \"Arial\",\n        fontSize: (this.msg.fontSize || 0) + \"px\",\n        fontWeight: this.msg.fontWeight || \"normal\",\n        color: this.msg.textColor || \"black\",\n        textAlign: this.msg.textAlign || \"center\"\n      };\n    }\n  },\n  methods: {\n    sendMessage() {\n      this.isPressed = true;\n      this.send({ payload: this.msg.payloadOut || \"button pressed\" });\n      setTimeout(() => (this.isPressed = false), this.msg.pressDelay);\n    }\n  }\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a61264e5a9bc0070",
        "type": "ui-control",
        "z": "ae0cbc766fdbb2ea",
        "name": "Page Change",
        "ui": "854fcf2db95431c0",
        "events": "change",
        "x": 480,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4544bafe9a90f5bc",
        "type": "ui-template",
        "z": "ae0cbc766fdbb2ea",
        "group": "",
        "page": "${group}",
        "ui": "",
        "name": "Nav",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div id=\"persistent-sidebar\">\n    <!-- 🔘 One button per page, customize below -->\n    <button\n      :style=\"{ backgroundColor: buttonColors['Home'], color: buttonTextColors['Home'] }\"\n      @click=\"switchPage($event, 'Home')\"\n    >Home</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Technology Park'], color: buttonTextColors['Technology Park'] }\"\n      @click=\"switchPage($event, 'Technology Park')\"\n    >Technology Park</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Innovation Center'], color: buttonTextColors['Innovation Center'] }\"\n      @click=\"switchPage($event, 'Innovation Center')\"\n    >Innovation Center</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['T-Mobile 5G'], color: buttonTextColors['T-Mobile 5G'] }\"\n      @click=\"switchPage($event, 'T-Mobile 5G')\"\n    >T-Mobile 5G</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Logistics'], color: buttonTextColors['Logistics'] }\"\n      @click=\"switchPage($event, 'Logistics')\"\n    >Logistics</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Safe, Smart, Community'], color: buttonTextColors['Safe, Smart, Community'] }\"\n      @click=\"switchPage($event, 'Safe, Smart, Community')\"\n    >Safe, Smart, Community</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Utilities'], color: buttonTextColors['Utilities'] }\"\n      @click=\"switchPage($event, 'Utilities')\"\n    >Utilities</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Sustainability'], color: buttonTextColors['Sustainability'] }\"\n      @click=\"switchPage($event, 'Sustainability')\"\n    >Sustainability</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Autonomous Solutions'], color: buttonTextColors['Autonomous Solutions'] }\"\n      @click=\"switchPage($event, 'Autonomous Solutions')\"\n    >Autonomous Solutions</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['University Partners'], color: buttonTextColors['University Partners'] }\"\n      @click=\"switchPage($event, 'University Partners')\"\n    >University Partners</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Lights On/Off'], color: buttonTextColors['Lights On/Off'] }\"\n      @click=\"switchPage($event, 'Lights On/Off')\"\n    >Lights On/Off</button>\n  </div>\n</template>\n\n<style>\n  .nr-dashboard-theme .md-content {\n    margin-left: 200px !important;\n    /* 👈 Push content over for sidebar */\n  }\n\n  #persistent-sidebar {\n    position: fixed;\n    /* 👈 Keeps sidebar always on screen */\n    top: 0;\n    left: 0;\n    height: 200vh;\n    /* 🔧 Sidebar height. Use 100vh for 1-screen, 200vh to ensure overflow fill */\n    width: 175px;\n    /* 🔧 Sidebar width. Try 150px–250px */\n    background-color: #222;\n    /* 🎨 Sidebar background. Try '#000', '#444', 'black', 'darkslategray' */\n    z-index: 9999;\n    padding-top: 3px;\n    box-sizing: border-box;\n    display: flex;\n    flex-direction: column;\n    align-items: stretch;\n    transform: scale(0.6);\n    /* 🔧 Shrink sidebar for touchscreen layout */\n    transform-origin: top left;\n  }\n\n  #persistent-sidebar button {\n    border: none;\n    margin: 1px 3px;\n    /* 🔧 spacing between buttons */\n    padding: 12px 16px;\n    /* 🔧 padding inside button */\n    font-size: 20px;\n    /* 🔧 text size (try 16–24px) */\n    border-radius: 0px;\n    /* 🔧 corner rounding (try 8px for round) */\n    text-align: center;\n    cursor: pointer;\n    transition: background 0.2s ease;\n    height: 89px;\n    /* 🔧 fixed height. Try 70–100px for visual balance */\n    line-height: 1.2;\n    white-space: normal;\n    /* ✅ allow 2-line text */\n    word-break: break-word;\n    overflow: hidden;\n  }\n\n  /* ✅ Flash color when pressed (override everything) */\n  #persistent-sidebar button.pressed {\n    background-color: white !important;\n    /* ✅ quick flash background */\n    color: black !important;\n    /* ✅ quick flash text */\n  }\n</style>\n\n<script>\n  export default {\n  data() {\n    // 🎨 Shared color constants\n    const DEFAULT_COLOR = '#878787';\t\t\t\t// 🔧 typical gray background\n    const HIGHLIGHT_COLOR = '#ffffff';\t\t\t\t// 🔧 highlight background (use on \"selected\" pages)\n    const DEFAULT_TEXT_COLOR = 'white';\t\t\t\t// 🔧 text color on dark buttons\n    const ALT_TEXT_COLOR = 'black';\t\t\t\t// 🔧 text color on light buttons\n\n    return {\n      // 🎨 Per-button background color (use color name, hex, rgb)\n      buttonColors: {\n        'Home': DEFAULT_COLOR,\t\t\t\t// e.g. '#444', 'red', 'orange'\n        'Technology Park': DEFAULT_COLOR,\n        'Innovation Center': DEFAULT_COLOR,\n        'T-Mobile 5G': HIGHLIGHT_COLOR,\n        'Logistics': DEFAULT_COLOR,\n        'Safe, Smart, Community': DEFAULT_COLOR,\n        'Utilities': DEFAULT_COLOR,\n        'Sustainability': DEFAULT_COLOR,\n        'Autonomous Solutions': DEFAULT_COLOR,\n        'University Partners': DEFAULT_COLOR,\n        'Lights On/Off': DEFAULT_COLOR\n      },\n\n      // 🎨 Per-button text color (typically black on light backgrounds)\n      buttonTextColors: {\n        'Home': DEFAULT_TEXT_COLOR,\n        'Technology Park': DEFAULT_TEXT_COLOR,\n        'Innovation Center': DEFAULT_TEXT_COLOR,\n        'T-Mobile 5G': ALT_TEXT_COLOR,\n        'Logistics': DEFAULT_TEXT_COLOR,\n        'Safe, Smart, Community': DEFAULT_TEXT_COLOR,\n        'Utilities': DEFAULT_TEXT_COLOR,\n        'Sustainability': DEFAULT_TEXT_COLOR,\n        'Autonomous Solutions': DEFAULT_TEXT_COLOR,\n        'University Partners': DEFAULT_TEXT_COLOR,\n        'Lights On/Off': DEFAULT_TEXT_COLOR\n      }\n    };\n  },\n\n  methods: {\n    switchPage(event, pageName) {\n      const btn = event.target;\n      btn.classList.add(\"pressed\");\t\t\t\t// ✅ Add flash class\n\n      setTimeout(() => {\n        btn.classList.remove(\"pressed\");\t\t\t// ✅ Remove flash class after 125ms\n      }, 125);\n\n      this.send({ payload: pageName });\t\t\t// 🚀 Send selected page to Node-RED\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "a61264e5a9bc0070"
            ]
        ]
    },
    {
        "id": "c24e93dc318fc765",
        "type": "ui-template",
        "z": "10f6dc27bf153ffb",
        "group": "",
        "page": "1f95c29a49b03d4f",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".v-main {\n    background-image: url(\"/{{env.fileName}}\");\n    background-repeat: no-repeat;\n    background-size: cover;\n    /* or \"contain\", depending on desired scaling */\n    background-position: left center;\n    /* e.g., \"top right\" to align like your example */\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "93ba8216090c31a8",
        "type": "function",
        "z": "10f6dc27bf153ffb",
        "name": "function 2",
        "func": "msg.fileName = \"4.png\"; \n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "c24e93dc318fc765"
            ]
        ]
    },
    {
        "id": "c2a37a2bf416042a",
        "type": "inject",
        "z": "10f6dc27bf153ffb",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "93ba8216090c31a8"
            ]
        ]
    },
    {
        "id": "8b9f9a8cb90a7211",
        "type": "ui-template",
        "z": "1899ad506aec9742",
        "group": "",
        "page": "${group}",
        "ui": "",
        "name": "Guide",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;\">\n\n    <!-- Box -->\n    <div\n      ref=\"marker\"\n      @mousedown=\"startDrag($event)\"\n      @touchstart.prevent=\"startDrag($event)\"\n      :style=\"boxStyle\"\n    >\n      <div\n        @mousedown.stop.prevent=\"startResize($event)\"\n        @touchstart.stop.prevent=\"startResize($event)\"\n        :style=\"resizeHandleStyle\"\n      ></div>\n    </div>\n\n    <!-- Readout and All Sliders -->\n    <div\n      ref=\"readout\"\n      @mousedown=\"startReadoutDrag($event)\"\n      @touchstart.prevent=\"startReadoutDrag($event)\"\n      :style=\"readoutStyle\"\n    >\n      <div style=\"font-family: monospace; font-size: 14px; margin-bottom: 6px;\">\n        X: {{ boxX }}<br>\n        Y: {{ boxY }}<br>\n        W: {{ boxW }}<br>\n        H: {{ boxH }}\n      </div>\n\n      <!-- Position Sliders -->\n      <div style=\"display: flex; align-items: center; margin-bottom: 6px;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">← →</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"horizontal\"\n          @input=\"adjustHorizontal\" @change=\"resetSlider('horizontal')\"\n          style=\"width: 220px;\" />\n      </div>\n\n      <div style=\"display: flex; align-items: center; margin-bottom: 6px;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">↓ ↑</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"vertical\"\n          @input=\"adjustVertical\" @change=\"resetSlider('vertical')\"\n          style=\"width: 220px;\" />\n      </div>\n\n      <!-- Size Sliders -->\n      <div style=\"display: flex; align-items: center; margin-bottom: 6px;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">↔ W</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"widthDelta\"\n          @input=\"adjustWidth\" @change=\"resetSlider('widthDelta')\"\n          style=\"width: 220px;\" />\n      </div>\n\n      <div style=\"display: flex; align-items: center;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">↕ H</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"heightDelta\"\n          @input=\"adjustHeight\" @change=\"resetSlider('heightDelta')\"\n          style=\"width: 220px;\" />\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      boxX: 300,\n      boxY: 300,\n      boxW: 60,\n      boxH: 60,\n      readoutX: 20,\n      readoutY: 20,\n      draggingBox: false,\n      draggingReadout: false,\n      resizing: false,\n      offsetX: 0,\n      offsetY: 0,\n      startW: 0,\n      startH: 0,\n      startMouseX: 0,\n      startMouseY: 0,\n      horizontal: 0,\n      vertical: 0,\n      lastHorizontal: 0,\n      lastVertical: 0,\n      widthDelta: 0,\n      heightDelta: 0,\n      lastWidthDelta: 0,\n      lastHeightDelta: 0\n    };\n  },\n  computed: {\n    boxStyle() {\n      return {\n        position: \"absolute\",\n        top: this.boxY + \"px\",\n        left: this.boxX + \"px\",\n        width: this.boxW + \"px\",\n        height: this.boxH + \"px\",\n        backgroundColor: \"rgba(0, 0, 0, 0.6)\",\n        border: \"1px solid black\",\n        borderRadius: \"0px\",\n        cursor: this.resizing ? \"nwse-resize\" : \"move\",\n        zIndex: 1000\n      };\n    },\n    resizeHandleStyle() {\n      return {\n        position: \"absolute\",\n        bottom: \"-6px\",\n        right: \"-6px\",\n        width: \"12px\",\n        height: \"12px\",\n        backgroundColor: \"white\",\n        border: \"2px solid black\",\n        borderRadius: \"50%\",\n        cursor: \"nwse-resize\",\n        zIndex: 1001\n      };\n    },\n    readoutStyle() {\n      return {\n        position: \"absolute\",\n        top: this.readoutY + \"px\",\n        left: this.readoutX + \"px\",\n        backgroundColor: \"white\",\n        color: \"black\",\n        padding: \"8px 10px\",\n        fontFamily: \"monospace\",\n        fontSize: \"14px\",\n        border: \"1px solid #888\",\n        borderRadius: \"6px\",\n        cursor: \"move\",\n        zIndex: 1001,\n        width: \"300px\",\n        userSelect: \"none\",\n        boxShadow: \"0 0 6px rgba(0,0,0,0.15)\"\n      };\n    }\n  },\n  methods: {\n    adjustHorizontal() {\n      const delta = this.horizontal - this.lastHorizontal;\n      this.boxX += delta;\n      this.lastHorizontal = this.horizontal;\n    },\n    adjustVertical() {\n      const delta = this.vertical - this.lastVertical;\n      this.boxY -= delta;\n      this.lastVertical = this.vertical;\n    },\n    adjustWidth() {\n      const delta = this.widthDelta - this.lastWidthDelta;\n      this.boxW = Math.max(10, this.boxW + delta);\n      this.lastWidthDelta = this.widthDelta;\n    },\n    adjustHeight() {\n      const delta = this.heightDelta - this.lastHeightDelta;\n      this.boxH = Math.max(10, this.boxH + delta);\n      this.lastHeightDelta = this.heightDelta;\n    },\n    resetSlider(name) {\n      this[name] = 0;\n      if (name === 'horizontal') this.lastHorizontal = 0;\n      if (name === 'vertical') this.lastVertical = 0;\n      if (name === 'widthDelta') this.lastWidthDelta = 0;\n      if (name === 'heightDelta') this.lastHeightDelta = 0;\n    },\n\n    startDrag(e) {\n      if (this.resizing) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.draggingBox = true;\n      this.offsetX = event.clientX - this.boxX;\n      this.offsetY = event.clientY - this.boxY;\n      document.addEventListener(\"mousemove\", this.onBoxDrag);\n      document.addEventListener(\"mouseup\", this.stopDrag);\n      document.addEventListener(\"touchmove\", this.onBoxDrag);\n      document.addEventListener(\"touchend\", this.stopDrag);\n    },\n    onBoxDrag(e) {\n      if (!this.draggingBox) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.boxX = Math.round(event.clientX - this.offsetX);\n      this.boxY = Math.round(event.clientY - this.offsetY);\n    },\n\n    startResize(e) {\n      this.resizing = true;\n      const event = e.touches ? e.touches[0] : e;\n      this.startW = this.boxW;\n      this.startH = this.boxH;\n      this.startMouseX = event.clientX;\n      this.startMouseY = event.clientY;\n      document.addEventListener(\"mousemove\", this.onResize);\n      document.addEventListener(\"mouseup\", this.stopResize);\n      document.addEventListener(\"touchmove\", this.onResize);\n      document.addEventListener(\"touchend\", this.stopResize);\n    },\n    onResize(e) {\n      if (!this.resizing) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.boxW = Math.max(10, Math.round(this.startW + (event.clientX - this.startMouseX)));\n      this.boxH = Math.max(10, Math.round(this.startH + (event.clientY - this.startMouseY)));\n    },\n    stopResize() {\n      this.resizing = false;\n      document.removeEventListener(\"mousemove\", this.onResize);\n      document.removeEventListener(\"mouseup\", this.stopResize);\n      document.removeEventListener(\"touchmove\", this.onResize);\n      document.removeEventListener(\"touchend\", this.stopResize);\n    },\n\n    startReadoutDrag(e) {\n      const event = e.touches ? e.touches[0] : e;\n      this.draggingReadout = true;\n      this.offsetX = event.clientX - this.readoutX;\n      this.offsetY = event.clientY - this.readoutY;\n      document.addEventListener(\"mousemove\", this.onReadoutDrag);\n      document.addEventListener(\"mouseup\", this.stopDrag);\n      document.addEventListener(\"touchmove\", this.onReadoutDrag);\n      document.addEventListener(\"touchend\", this.stopDrag);\n    },\n    onReadoutDrag(e) {\n      if (!this.draggingReadout) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.readoutX = Math.round(event.clientX - this.offsetX);\n      this.readoutY = Math.round(event.clientY - this.offsetY);\n    },\n    stopDrag() {\n      this.draggingBox = false;\n      this.draggingReadout = false;\n      document.removeEventListener(\"mousemove\", this.onBoxDrag);\n      document.removeEventListener(\"mouseup\", this.stopDrag);\n      document.removeEventListener(\"touchmove\", this.onBoxDrag);\n      document.removeEventListener(\"touchend\", this.stopDrag);\n      document.removeEventListener(\"mousemove\", this.onReadoutDrag);\n      document.removeEventListener(\"touchmove\", this.onReadoutDrag);\n    }\n  }\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9ec908a82f9b4275",
        "type": "inject",
        "z": "d1331c655e18cc12",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "5e7c01a6ad90cf32"
            ]
        ]
    },
    {
        "id": "7d090bb2e77d8e3c",
        "type": "debug",
        "z": "d1331c655e18cc12",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "5e7c01a6ad90cf32",
        "type": "change",
        "z": "d1331c655e18cc12",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello World!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "7d090bb2e77d8e3c"
            ]
        ]
    },
    {
        "id": "88c163437a955ca9",
        "type": "comment",
        "z": "d1331c655e18cc12",
        "name": "test",
        "info": "test push 1\n",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "0472fc5638a4259e",
        "type": "catch",
        "z": "d1331c655e18cc12",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f19852181255e293",
        "type": "function",
        "z": "d1331c655e18cc12",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "c54400f3b064a677"
            ]
        ]
    },
    {
        "id": "c54400f3b064a677",
        "type": "change",
        "z": "d1331c655e18cc12",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "8c11fa4bfc360b6b"
            ]
        ]
    },
    {
        "id": "8c11fa4bfc360b6b",
        "type": "debug",
        "z": "d1331c655e18cc12",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e5d0f948a1dc91e",
        "type": "subflow:1b607c4bf53459a4",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            }
        ],
        "x": 350,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "82545d0e657a932d",
        "type": "subflow:ae0cbc766fdbb2ea",
        "z": "d1331c655e18cc12",
        "d": true,
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            }
        ],
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "f2dd97c861dc14b7",
        "type": "subflow:1899ad506aec9742",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            }
        ],
        "x": 210,
        "y": 340,
        "wires": []
    }
]