flows.json
[
    {
        "id": "d1331c655e18cc12",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b607c4bf53459a4",
        "type": "subflow",
        "name": "Button",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "d81c5188f589b9d7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "label",
                "type": "str",
                "value": "Button",
                "ui": {
                    "icon": "font-awesome/fa-align-justify",
                    "label": {
                        "en-US": "Label"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "payloadOut",
                "type": "str",
                "value": "Button Message",
                "ui": {
                    "icon": "font-awesome/fa-file-text-o",
                    "label": {
                        "en-US": "Message"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "left",
                "type": "str",
                "value": "500",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "label": {
                        "en-US": "x"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "top",
                "type": "str",
                "value": "300",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "label": {
                        "en-US": "y"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "width",
                "type": "str",
                "value": "180",
                "ui": {
                    "icon": "font-awesome/fa-text-width",
                    "label": {
                        "en-US": "Width"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "height",
                "type": "str",
                "value": "60",
                "ui": {
                    "icon": "font-awesome/fa-text-height",
                    "label": {
                        "en-US": "Height"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "fontSize",
                "type": "str",
                "value": "14"
            },
            {
                "name": "fontFamily",
                "type": "str",
                "value": "Arial, sans-serif",
                "ui": {
                    "label": {
                        "en-US": "Font"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Arial, sans-serif"
                                },
                                "v": "Arial, sans-serif"
                            },
                            {
                                "l": {
                                    "en-US": "Helvetica, sans-serif"
                                },
                                "v": "Helvetica, sans-serif"
                            },
                            {
                                "l": {
                                    "en-US": "Comic Sans MS, cursive"
                                },
                                "v": "Comic Sans MS, cursive"
                            },
                            {
                                "l": {
                                    "en-US": "Times New Roman, serif"
                                },
                                "v": "Times New Roman, serif"
                            },
                            {
                                "l": {
                                    "en-US": "Georgia, serif"
                                },
                                "v": "Georgia, serif"
                            },
                            {
                                "l": {
                                    "en-US": "Courier New, monospace"
                                },
                                "v": "Courier New, monospace"
                            },
                            {
                                "l": {
                                    "en-US": "Monaco, monospace"
                                },
                                "v": "Monaco, monospace"
                            },
                            {
                                "l": {
                                    "en-US": "Menlo, monospace"
                                },
                                "v": "Menlo, monospace"
                            },
                            {
                                "l": {
                                    "en-US": "Times New Roman, serif"
                                },
                                "v": "Times New Roman, serif"
                            },
                            {
                                "l": {
                                    "en-US": "Roboto, sans-serif"
                                },
                                "v": "Roboto, sans-serif"
                            }
                        ]
                    }
                }
            },
            {
                "name": "textColor",
                "type": "str",
                "value": "white",
                "ui": {
                    "icon": "font-awesome/fa-header",
                    "label": {
                        "en-US": "Text Color"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "textAlign",
                "type": "str",
                "value": "center"
            },
            {
                "name": "color",
                "type": "str",
                "value": "black",
                "ui": {
                    "icon": "font-awesome/fa-h-square",
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "pressedColor",
                "type": "str",
                "value": "darkgrey",
                "ui": {
                    "icon": "font-awesome/fa-h-square",
                    "label": {
                        "en-US": "Pressed Color"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "border",
                "type": "str",
                "value": "1px solid white",
                "ui": {
                    "icon": "font-awesome/fa-window-maximize",
                    "label": {
                        "en-US": "Border"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "borderRadius",
                "type": "str",
                "value": "6",
                "ui": {
                    "icon": "font-awesome/fa-circle-o",
                    "label": {
                        "en-US": "Corner Radius"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "fontWeight",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-bold",
                    "label": {
                        "en-US": "Font Weight"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "alignItems",
                "type": "str",
                "value": ""
            },
            {
                "name": "wrapText",
                "type": "str",
                "value": "1"
            },
            {
                "name": "pressDelay",
                "type": "str",
                "value": "200",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Pressed Time"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#87A980",
        "icon": "node-red/mouse.svg"
    },
    {
        "id": "ae0cbc766fdbb2ea",
        "type": "subflow",
        "name": "nav",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "10f6dc27bf153ffb",
        "type": "subflow",
        "name": "Background",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "fileName",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-file-text",
                    "label": {
                        "en-US": "File Name"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1899ad506aec9742",
        "type": "subflow",
        "name": "Framing Tool",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            }
        ],
        "meta": {},
        "color": "#FFAAAA",
        "icon": "font-awesome/fa-object-group"
    },
    {
        "id": "74936edbc0b1b43b",
        "type": "subflow",
        "name": "Send Video",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "a2c004542e3b6cd5"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "VIDEO_NAME",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#E9967A",
        "icon": "font-awesome/fa-video-camera"
    },
    {
        "id": "0c43c881482ce35e",
        "type": "subflow",
        "name": "Send Image",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 320,
                "y": 220,
                "wires": [
                    {
                        "id": "71f522aca6b0b1fd"
                    },
                    {
                        "id": "97d4b054c231aa14"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#E9967A",
        "icon": "font-awesome/fa-camera"
    },
    {
        "id": "08a51a5c841f7d42",
        "type": "subflow",
        "name": "Delayed Page Change",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 320,
                "y": 220,
                "wires": [
                    {
                        "id": "16130791387d9c6f"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#87A980",
        "icon": "node-red/file-in.svg"
    },
    {
        "id": "e4c7b68f08d4c7ee",
        "type": "subflow",
        "name": "Detect Page Change",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 840,
                "y": 220,
                "wires": [
                    {
                        "id": "2c8cd43e2da123ab",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "pageName",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Page Name"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "output",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Output Message"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#87A980",
        "icon": "node-red/file-out.svg"
    },
    {
        "id": "693ca80fe91d889d",
        "type": "subflow",
        "name": "DMX ",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 320,
                "y": 260,
                "wires": [
                    {
                        "id": "71d28157139d1f29"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "group",
                "type": "ui-page",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-sitemap",
                    "label": {
                        "en-US": "Group"
                    },
                    "type": "conf-types"
                }
            },
            {
                "name": "startVal",
                "type": "str",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-step-backward",
                    "label": {
                        "en-US": "Start Value"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "endVal",
                "type": "str",
                "value": "255",
                "ui": {
                    "icon": "font-awesome/fa-step-forward",
                    "label": {
                        "en-US": "End Value"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "duration",
                "type": "str",
                "value": "200",
                "ui": {
                    "icon": "font-awesome/fa-clock-o",
                    "label": {
                        "en-US": "Duration (ms)"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "steps",
                "type": "str",
                "value": "20",
                "ui": {
                    "icon": "font-awesome/fa-signal",
                    "label": {
                        "en-US": "Steps"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            },
            {
                "name": "channels",
                "type": "str",
                "value": "[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]",
                "ui": {
                    "label": {
                        "en-US": "Channels"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "num",
                            "bool",
                            "json",
                            "bin",
                            "env",
                            "conf-types"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "22e82217619fdc35",
        "type": "subflow",
        "name": "lights on/off nav button",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 80,
                "wires": [
                    {
                        "id": "9912b6f5d29e2352"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 578.5714285714286,
            "y": 30,
            "wires": []
        }
    },
    {
        "id": "854fcf2db95431c0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "01496d579d794450",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c3989f5aa8752b8b",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "854fcf2db95431c0",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "01496d579d794450",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1bef072d29f3f4c1",
        "type": "ui-group",
        "name": "Group 1",
        "page": "c3989f5aa8752b8b",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "e50371a06584f998",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#878787",
            "primary": "#990000",
            "bgPage": "#000000",
            "groupBg": "#000000",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1f95c29a49b03d4f",
        "type": "ui-page",
        "name": "T-Mobile 5G",
        "ui": "854fcf2db95431c0",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "e50371a06584f998",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "31683a5f94497919",
        "type": "function",
        "z": "1b607c4bf53459a4",
        "name": "function 3",
        "func": "msg.top             = Number(env.get(\"top\"));\nmsg.left            = Number(env.get(\"left\"));\nmsg.width           = Number(env.get(\"width\"));\nmsg.height          = Number(env.get(\"height\"));\n\nmsg.color           = env.get(\"color\");\nmsg.pressedColor    = env.get(\"pressedColor\");\n\nmsg.border          = env.get(\"border\");\nmsg.borderRadius    = Number(env.get(\"borderRadius\"));\n\nmsg.fontFamily      = env.get(\"fontFamily\");\nmsg.fontSize        = Number(env.get(\"fontSize\"));\nmsg.fontWeight      = env.get(\"fontWeight\");\n\nmsg.textColor       = env.get(\"textColor\");\nmsg.textAlign       = env.get(\"textAlign\");\nmsg.alignItems      = env.get(\"alignItems\");\nmsg.justifyContent  = env.get(\"justifyContent\");\n\nmsg.wrapText        = env.get(\"wrapText\") === true || env.get(\"wrapText\") === \"true\";\n\nmsg.label           = env.get(\"label\");\nmsg.payloadOut      = env.get(\"payloadOut\");\nmsg.pressDelay      = env.get(\"pressDelay\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "d81c5188f589b9d7"
            ]
        ]
    },
    {
        "id": "83a122aba3d48036",
        "type": "inject",
        "z": "1b607c4bf53459a4",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "31683a5f94497919"
            ]
        ]
    },
    {
        "id": "d81c5188f589b9d7",
        "type": "ui-template",
        "z": "1b607c4bf53459a4",
        "group": "1bef072d29f3f4c1",
        "page": "${group}",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div :style=\"wrapperStyle\" @click=\"sendMessage\">\n    <div :style=\"buttonStyle\">\n      <span :style=\"labelStyle\">\n        {{ msg.label || \"Button\" }}\n      </span>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return { isPressed: false };\n  },\n  computed: {\n    wrapperStyle() {\n      return {\n        position: \"absolute\",\n        top: (this.msg.top || 0) + \"px\",\n        left: (this.msg.left || 0) + \"px\",\n        width: (this.msg.width || 140) + \"px\",\n        height: (this.msg.height || 40) + \"px\",\n        cursor: \"pointer\"\n      };\n    },\n    buttonStyle() {\n      return {\n        backgroundColor: this.isPressed\n          ? (this.msg.pressedColor || \"#888\")\n          : (this.msg.color || \"#ccc\"),\n        border: this.msg.border || \"none\",\n        borderRadius: (this.msg.borderRadius || 0) + \"px\",\n        width: \"100%\",\n        height: \"100%\",\n        display: \"flex\",\n        alignItems: this.msg.alignItems || \"center\",\n        justifyContent: this.msg.justifyContent || \"center\",\n        overflow: this.msg.wrapText === false ? \"hidden\" : \"visible\",\n        whiteSpace: this.msg.wrapText === false ? \"nowrap\" : \"normal\"\n      };\n    },\n    labelStyle() {\n      return {\n        fontFamily: this.msg.fontFamily || \"Arial\",\n        fontSize: (this.msg.fontSize || 0) + \"px\",\n        fontWeight: this.msg.fontWeight || \"normal\",\n        color: this.msg.textColor || \"black\",\n        textAlign: this.msg.textAlign || \"center\"\n      };\n    }\n  },\n  methods: {\n    sendMessage() {\n      this.isPressed = true;\n      this.send({ payload: this.msg.payloadOut || \"button pressed\" });\n      setTimeout(() => (this.isPressed = false), this.msg.pressDelay);\n    }\n  }\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a61264e5a9bc0070",
        "type": "ui-control",
        "z": "ae0cbc766fdbb2ea",
        "name": "Page Change",
        "ui": "854fcf2db95431c0",
        "events": "change",
        "x": 480,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4544bafe9a90f5bc",
        "type": "ui-template",
        "z": "ae0cbc766fdbb2ea",
        "group": "",
        "page": "${group}",
        "ui": "",
        "name": "Nav",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div id=\"persistent-sidebar\">\n    <!-- 🔘 One button per page, customize below -->\n    <button\n      :style=\"{ backgroundColor: buttonColors['Home'], color: buttonTextColors['Home'] }\"\n      @click=\"switchPage($event, 'Home')\"\n    >Home</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Technology Park'], color: buttonTextColors['Technology Park'] }\"\n      @click=\"switchPage($event, 'Technology Park')\"\n    >Technology Park</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Innovation Center'], color: buttonTextColors['Innovation Center'] }\"\n      @click=\"switchPage($event, 'Innovation Center')\"\n    >Innovation Center</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['T-Mobile 5G'], color: buttonTextColors['T-Mobile 5G'] }\"\n      @click=\"switchPage($event, 'T-Mobile 5G')\"\n    >T-Mobile 5G</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Logistics'], color: buttonTextColors['Logistics'] }\"\n      @click=\"switchPage($event, 'Logistics')\"\n    >Logistics</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Safe, Smart, Community'], color: buttonTextColors['Safe, Smart, Community'] }\"\n      @click=\"switchPage($event, 'Safe, Smart, Community')\"\n    >Safe, Smart, Community</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Utilities'], color: buttonTextColors['Utilities'] }\"\n      @click=\"switchPage($event, 'Utilities')\"\n    >Utilities</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Sustainability'], color: buttonTextColors['Sustainability'] }\"\n      @click=\"switchPage($event, 'Sustainability')\"\n    >Sustainability</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Autonomous Solutions'], color: buttonTextColors['Autonomous Solutions'] }\"\n      @click=\"switchPage($event, 'Autonomous Solutions')\"\n    >Autonomous Solutions</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['University Partners'], color: buttonTextColors['University Partners'] }\"\n      @click=\"switchPage($event, 'University Partners')\"\n    >University Partners</button>\n\n    <button\n      :style=\"{ backgroundColor: buttonColors['Lights On/Off'], color: buttonTextColors['Lights On/Off'] }\"\n      @click=\"switchPage($event, 'Lights On/Off')\"\n    >Lights On/Off</button>\n  </div>\n</template>\n\n<style>\n  .nr-dashboard-theme .md-content {\n    margin-left: 200px !important;\n    /* 👈 Push content over for sidebar */\n  }\n\n  #persistent-sidebar {\n    position: fixed;\n    /* 👈 Keeps sidebar always on screen */\n    top: 0;\n    left: 0;\n    height: 200vh;\n    /* 🔧 Sidebar height. Use 100vh for 1-screen, 200vh to ensure overflow fill */\n    width: 175px;\n    /* 🔧 Sidebar width. Try 150px–250px */\n    background-color: #222;\n    /* 🎨 Sidebar background. Try '#000', '#444', 'black', 'darkslategray' */\n    z-index: 9999;\n    padding-top: 3px;\n    box-sizing: border-box;\n    display: flex;\n    flex-direction: column;\n    align-items: stretch;\n    transform: scale(0.6);\n    /* 🔧 Shrink sidebar for touchscreen layout */\n    transform-origin: top left;\n  }\n\n  #persistent-sidebar button {\n    border: none;\n    margin: 1px 3px;\n    /* 🔧 spacing between buttons */\n    padding: 12px 16px;\n    /* 🔧 padding inside button */\n    font-size: 20px;\n    /* 🔧 text size (try 16–24px) */\n    border-radius: 0px;\n    /* 🔧 corner rounding (try 8px for round) */\n    text-align: center;\n    cursor: pointer;\n    transition: background 0.2s ease;\n    height: 89px;\n    /* 🔧 fixed height. Try 70–100px for visual balance */\n    line-height: 1.2;\n    white-space: normal;\n    /* ✅ allow 2-line text */\n    word-break: break-word;\n    overflow: hidden;\n  }\n\n  /* ✅ Flash color when pressed (override everything) */\n  #persistent-sidebar button.pressed {\n    background-color: white !important;\n    /* ✅ quick flash background */\n    color: black !important;\n    /* ✅ quick flash text */\n  }\n</style>\n\n<script>\n  export default {\n  data() {\n    // 🎨 Shared color constants\n    const DEFAULT_COLOR = '#878787';\t\t\t\t// 🔧 typical gray background\n    const HIGHLIGHT_COLOR = '#ffffff';\t\t\t\t// 🔧 highlight background (use on \"selected\" pages)\n    const DEFAULT_TEXT_COLOR = 'white';\t\t\t\t// 🔧 text color on dark buttons\n    const ALT_TEXT_COLOR = 'black';\t\t\t\t// 🔧 text color on light buttons\n\n    return {\n      // 🎨 Per-button background color (use color name, hex, rgb)\n      buttonColors: {\n        'Home': DEFAULT_COLOR,\t\t\t\t// e.g. '#444', 'red', 'orange'\n        'Technology Park': DEFAULT_COLOR,\n        'Innovation Center': DEFAULT_COLOR,\n        'T-Mobile 5G': HIGHLIGHT_COLOR,\n        'Logistics': DEFAULT_COLOR,\n        'Safe, Smart, Community': DEFAULT_COLOR,\n        'Utilities': DEFAULT_COLOR,\n        'Sustainability': DEFAULT_COLOR,\n        'Autonomous Solutions': DEFAULT_COLOR,\n        'University Partners': DEFAULT_COLOR,\n        'Lights On/Off': DEFAULT_COLOR\n      },\n\n      // 🎨 Per-button text color (typically black on light backgrounds)\n      buttonTextColors: {\n        'Home': DEFAULT_TEXT_COLOR,\n        'Technology Park': DEFAULT_TEXT_COLOR,\n        'Innovation Center': DEFAULT_TEXT_COLOR,\n        'T-Mobile 5G': ALT_TEXT_COLOR,\n        'Logistics': DEFAULT_TEXT_COLOR,\n        'Safe, Smart, Community': DEFAULT_TEXT_COLOR,\n        'Utilities': DEFAULT_TEXT_COLOR,\n        'Sustainability': DEFAULT_TEXT_COLOR,\n        'Autonomous Solutions': DEFAULT_TEXT_COLOR,\n        'University Partners': DEFAULT_TEXT_COLOR,\n        'Lights On/Off': DEFAULT_TEXT_COLOR\n      }\n    };\n  },\n\n  methods: {\n    switchPage(event, pageName) {\n      const btn = event.target;\n      btn.classList.add(\"pressed\");\t\t\t\t// ✅ Add flash class\n\n      setTimeout(() => {\n        btn.classList.remove(\"pressed\");\t\t\t// ✅ Remove flash class after 125ms\n      }, 125);\n\n      this.send({ payload: pageName });\t\t\t// 🚀 Send selected page to Node-RED\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "a61264e5a9bc0070"
            ]
        ]
    },
    {
        "id": "c24e93dc318fc765",
        "type": "ui-template",
        "z": "10f6dc27bf153ffb",
        "group": "",
        "page": "1f95c29a49b03d4f",
        "ui": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".v-main {\n    background-image: url(\"/{{env.fileName}}\");\n    background-repeat: no-repeat;\n    background-size: cover;\n    /* or \"contain\", depending on desired scaling */\n    background-position: left center;\n    /* e.g., \"top right\" to align like your example */\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "93ba8216090c31a8",
        "type": "function",
        "z": "10f6dc27bf153ffb",
        "name": "function 2",
        "func": "msg.fileName = \"4.png\"; \n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "c24e93dc318fc765"
            ]
        ]
    },
    {
        "id": "c2a37a2bf416042a",
        "type": "inject",
        "z": "10f6dc27bf153ffb",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "93ba8216090c31a8"
            ]
        ]
    },
    {
        "id": "8b9f9a8cb90a7211",
        "type": "ui-template",
        "z": "1899ad506aec9742",
        "group": "",
        "page": "${group}",
        "ui": "",
        "name": "Guide",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;\">\n\n    <!-- Box -->\n    <div\n      ref=\"marker\"\n      @mousedown=\"startDrag($event)\"\n      @touchstart.prevent=\"startDrag($event)\"\n      :style=\"boxStyle\"\n    >\n      <div\n        @mousedown.stop.prevent=\"startResize($event)\"\n        @touchstart.stop.prevent=\"startResize($event)\"\n        :style=\"resizeHandleStyle\"\n      ></div>\n    </div>\n\n    <!-- Readout and All Sliders -->\n    <div\n      ref=\"readout\"\n      @mousedown=\"startReadoutDrag($event)\"\n      @touchstart.prevent=\"startReadoutDrag($event)\"\n      :style=\"readoutStyle\"\n    >\n      <div style=\"font-family: monospace; font-size: 14px; margin-bottom: 6px;\">\n        X: {{ boxX }}<br>\n        Y: {{ boxY }}<br>\n        W: {{ boxW }}<br>\n        H: {{ boxH }}\n      </div>\n\n      <!-- Position Sliders -->\n      <div style=\"display: flex; align-items: center; margin-bottom: 6px;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">← →</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"horizontal\"\n          @input=\"adjustHorizontal\" @change=\"resetSlider('horizontal')\"\n          style=\"width: 220px;\" />\n      </div>\n\n      <div style=\"display: flex; align-items: center; margin-bottom: 6px;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">↓ ↑</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"vertical\"\n          @input=\"adjustVertical\" @change=\"resetSlider('vertical')\"\n          style=\"width: 220px;\" />\n      </div>\n\n      <!-- Size Sliders -->\n      <div style=\"display: flex; align-items: center; margin-bottom: 6px;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">↔ W</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"widthDelta\"\n          @input=\"adjustWidth\" @change=\"resetSlider('widthDelta')\"\n          style=\"width: 220px;\" />\n      </div>\n\n      <div style=\"display: flex; align-items: center;\" @mousedown.stop @touchstart.stop>\n        <label style=\"margin-right: 6px;\">↕ H</label>\n        <input type=\"range\" min=\"-10\" max=\"10\" step=\"1\" v-model.number=\"heightDelta\"\n          @input=\"adjustHeight\" @change=\"resetSlider('heightDelta')\"\n          style=\"width: 220px;\" />\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      boxX: 300,\n      boxY: 300,\n      boxW: 60,\n      boxH: 60,\n      readoutX: 20,\n      readoutY: 20,\n      draggingBox: false,\n      draggingReadout: false,\n      resizing: false,\n      offsetX: 0,\n      offsetY: 0,\n      startW: 0,\n      startH: 0,\n      startMouseX: 0,\n      startMouseY: 0,\n      horizontal: 0,\n      vertical: 0,\n      lastHorizontal: 0,\n      lastVertical: 0,\n      widthDelta: 0,\n      heightDelta: 0,\n      lastWidthDelta: 0,\n      lastHeightDelta: 0\n    };\n  },\n  computed: {\n    boxStyle() {\n      return {\n        position: \"absolute\",\n        top: this.boxY + \"px\",\n        left: this.boxX + \"px\",\n        width: this.boxW + \"px\",\n        height: this.boxH + \"px\",\n        backgroundColor: \"rgba(0, 0, 0, 0.6)\",\n        border: \"1px solid black\",\n        borderRadius: \"0px\",\n        cursor: this.resizing ? \"nwse-resize\" : \"move\",\n        zIndex: 1000\n      };\n    },\n    resizeHandleStyle() {\n      return {\n        position: \"absolute\",\n        bottom: \"-6px\",\n        right: \"-6px\",\n        width: \"12px\",\n        height: \"12px\",\n        backgroundColor: \"white\",\n        border: \"2px solid black\",\n        borderRadius: \"50%\",\n        cursor: \"nwse-resize\",\n        zIndex: 1001\n      };\n    },\n    readoutStyle() {\n      return {\n        position: \"absolute\",\n        top: this.readoutY + \"px\",\n        left: this.readoutX + \"px\",\n        backgroundColor: \"white\",\n        color: \"black\",\n        padding: \"8px 10px\",\n        fontFamily: \"monospace\",\n        fontSize: \"14px\",\n        border: \"1px solid #888\",\n        borderRadius: \"6px\",\n        cursor: \"move\",\n        zIndex: 1001,\n        width: \"300px\",\n        userSelect: \"none\",\n        boxShadow: \"0 0 6px rgba(0,0,0,0.15)\"\n      };\n    }\n  },\n  methods: {\n    adjustHorizontal() {\n      const delta = this.horizontal - this.lastHorizontal;\n      this.boxX += delta;\n      this.lastHorizontal = this.horizontal;\n    },\n    adjustVertical() {\n      const delta = this.vertical - this.lastVertical;\n      this.boxY -= delta;\n      this.lastVertical = this.vertical;\n    },\n    adjustWidth() {\n      const delta = this.widthDelta - this.lastWidthDelta;\n      this.boxW = Math.max(10, this.boxW + delta);\n      this.lastWidthDelta = this.widthDelta;\n    },\n    adjustHeight() {\n      const delta = this.heightDelta - this.lastHeightDelta;\n      this.boxH = Math.max(10, this.boxH + delta);\n      this.lastHeightDelta = this.heightDelta;\n    },\n    resetSlider(name) {\n      this[name] = 0;\n      if (name === 'horizontal') this.lastHorizontal = 0;\n      if (name === 'vertical') this.lastVertical = 0;\n      if (name === 'widthDelta') this.lastWidthDelta = 0;\n      if (name === 'heightDelta') this.lastHeightDelta = 0;\n    },\n\n    startDrag(e) {\n      if (this.resizing) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.draggingBox = true;\n      this.offsetX = event.clientX - this.boxX;\n      this.offsetY = event.clientY - this.boxY;\n      document.addEventListener(\"mousemove\", this.onBoxDrag);\n      document.addEventListener(\"mouseup\", this.stopDrag);\n      document.addEventListener(\"touchmove\", this.onBoxDrag);\n      document.addEventListener(\"touchend\", this.stopDrag);\n    },\n    onBoxDrag(e) {\n      if (!this.draggingBox) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.boxX = Math.round(event.clientX - this.offsetX);\n      this.boxY = Math.round(event.clientY - this.offsetY);\n    },\n\n    startResize(e) {\n      this.resizing = true;\n      const event = e.touches ? e.touches[0] : e;\n      this.startW = this.boxW;\n      this.startH = this.boxH;\n      this.startMouseX = event.clientX;\n      this.startMouseY = event.clientY;\n      document.addEventListener(\"mousemove\", this.onResize);\n      document.addEventListener(\"mouseup\", this.stopResize);\n      document.addEventListener(\"touchmove\", this.onResize);\n      document.addEventListener(\"touchend\", this.stopResize);\n    },\n    onResize(e) {\n      if (!this.resizing) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.boxW = Math.max(10, Math.round(this.startW + (event.clientX - this.startMouseX)));\n      this.boxH = Math.max(10, Math.round(this.startH + (event.clientY - this.startMouseY)));\n    },\n    stopResize() {\n      this.resizing = false;\n      document.removeEventListener(\"mousemove\", this.onResize);\n      document.removeEventListener(\"mouseup\", this.stopResize);\n      document.removeEventListener(\"touchmove\", this.onResize);\n      document.removeEventListener(\"touchend\", this.stopResize);\n    },\n\n    startReadoutDrag(e) {\n      const event = e.touches ? e.touches[0] : e;\n      this.draggingReadout = true;\n      this.offsetX = event.clientX - this.readoutX;\n      this.offsetY = event.clientY - this.readoutY;\n      document.addEventListener(\"mousemove\", this.onReadoutDrag);\n      document.addEventListener(\"mouseup\", this.stopDrag);\n      document.addEventListener(\"touchmove\", this.onReadoutDrag);\n      document.addEventListener(\"touchend\", this.stopDrag);\n    },\n    onReadoutDrag(e) {\n      if (!this.draggingReadout) return;\n      const event = e.touches ? e.touches[0] : e;\n      this.readoutX = Math.round(event.clientX - this.offsetX);\n      this.readoutY = Math.round(event.clientY - this.offsetY);\n    },\n    stopDrag() {\n      this.draggingBox = false;\n      this.draggingReadout = false;\n      document.removeEventListener(\"mousemove\", this.onBoxDrag);\n      document.removeEventListener(\"mouseup\", this.stopDrag);\n      document.removeEventListener(\"touchmove\", this.onBoxDrag);\n      document.removeEventListener(\"touchend\", this.stopDrag);\n      document.removeEventListener(\"mousemove\", this.onReadoutDrag);\n      document.removeEventListener(\"touchmove\", this.onReadoutDrag);\n    }\n  }\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9308caf8f832e53b",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "2a4d63d7b2eda775"
            ]
        ]
    },
    {
        "id": "62b6e6db86c73cd0",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Load Command",
        "func": "msg.url = \"http://\" + msg.payload.target2 + \":8000/load\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "9308caf8f832e53b"
            ]
        ]
    },
    {
        "id": "2a4d63d7b2eda775",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Waits For All Pis to be ready before playing ",
        "func": "// Normalize and identify sender\nlet ip = msg.url.split(\"/\")[2].split(\":\")[0];\nlet response = (msg.payload || \"\").toString().toLowerCase();\n\n// List of expected Pi IPs\nlet expected = [/*\"192.168.1.11\",*//* \"192.168.1.12\",*/ \"192.168.1.13\"/*, \"192.168.1.14\"*/];\n\n// Get or initialize tracker\nlet status = flow.get(\"videoLoadStatus\") || {};\n\n// Use simple heuristic to check if the Pi is \"ready\"\nif (\n    response.includes(\"paused\") ||\n    response.includes(\"loaded\") ||\n    response.includes(\"ok\") ||\n    response.includes(\"ready\")\n) {\n    status[ip] = true;\n    node.status({fill:\"green\",shape:\"dot\",text:`${ip} ready`});\n} else {\n    status[ip] = false;\n    node.status({fill:\"red\",shape:\"ring\",text:`${ip} not ready`});\n}\n\nflow.set(\"videoLoadStatus\", status);\n\n// Check if all 4 are ready\nlet allReady = expected.every(ip => status[ip]);\n\nif (allReady) {\n    // Reset for next round\n    flow.set(\"videoLoadStatus\", {});\n    msg.payload = \"ALL_READY\";\n    return [msg, null];  // Continue flow\n} else {\n    return [null, null]; // Wait\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 220,
        "wires": [
            [
                "dfd79c88dc25cd94",
                "f5072cf8ddd7c9fc"
            ]
        ]
    },
    {
        "id": "ea44cf10441f3592",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "PI IP Assignment",
        "func": "msg.payload = {\n    video: msg.payload,\n    target1: \"192.168.1.11\",\n    target2: \"192.168.1.12\",\n    target3: \"192.168.1.13\",\n    target4: \"192.168.1.14\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 200,
        "wires": [
            [
                "b11e8fe1e8d9f792"
            ]
        ]
    },
    {
        "id": "6c301705b8d1ac3e",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "2a4d63d7b2eda775"
            ]
        ]
    },
    {
        "id": "aabbbf7321aa9bd5",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "2a4d63d7b2eda775"
            ]
        ]
    },
    {
        "id": "053ce2bcff4fc951",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "2a4d63d7b2eda775"
            ]
        ]
    },
    {
        "id": "f5072cf8ddd7c9fc",
        "type": "switch",
        "z": "74936edbc0b1b43b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ALL_READY",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "926d6553434b7c0d"
            ],
            []
        ]
    },
    {
        "id": "dfd79c88dc25cd94",
        "type": "debug",
        "z": "74936edbc0b1b43b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd61d9fe19f1b653",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Load Command",
        "func": "msg.url = \"http://\" + msg.payload.target1 + \":8000/load\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "6c301705b8d1ac3e"
            ]
        ]
    },
    {
        "id": "b11e8fe1e8d9f792",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Load Command",
        "func": "msg.url = \"http://\" + msg.payload.target3 + \":8000/load\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "aabbbf7321aa9bd5"
            ]
        ]
    },
    {
        "id": "2841643709e8bcf8",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Load Command",
        "func": "msg.url = \"http://\" + msg.payload.target4 + \":8000/load\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "053ce2bcff4fc951"
            ]
        ]
    },
    {
        "id": "926d6553434b7c0d",
        "type": "delay",
        "z": "74936edbc0b1b43b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "b60673f54979f061"
            ]
        ]
    },
    {
        "id": "b60673f54979f061",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "PI IP Assignment",
        "func": "msg.payload = {\n    video: msg.payload,\n    target1: \"192.168.1.11\",\n    target2: \"192.168.1.12\",\n    target3: \"192.168.1.13\",\n    target4: \"192.168.1.14\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "ae9da8abc1a2a42c"
            ]
        ]
    },
    {
        "id": "05c044aacfd3a2f4",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Play Command",
        "func": "msg.url = \"http://\" + msg.payload.target1 + \":8000/play\";\nmsg.payload = null;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 500,
        "wires": [
            [
                "f943a4c7a338c674"
            ]
        ]
    },
    {
        "id": "ae9da8abc1a2a42c",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Play Command",
        "func": "msg.url = \"http://\" + msg.payload.target3 + \":8000/play\";\nmsg.payload = null;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 580,
        "wires": [
            [
                "70e571ef6a6eaa06"
            ]
        ]
    },
    {
        "id": "fabae630f751ad24",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Play Command",
        "func": "msg.url = \"http://\" + msg.payload.target2 + \":8000/play\";\nmsg.payload = null;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "d118d226ba031247"
            ]
        ]
    },
    {
        "id": "4e2c2a9c611c27f6",
        "type": "function",
        "z": "74936edbc0b1b43b",
        "name": "Play Command",
        "func": "msg.url = \"http://\" + msg.payload.target4 + \":8000/play\";\nmsg.payload = null;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 620,
        "wires": [
            [
                "368d6cfda8883a78"
            ]
        ]
    },
    {
        "id": "f943a4c7a338c674",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "70e571ef6a6eaa06",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d118d226ba031247",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "368d6cfda8883a78",
        "type": "http request",
        "z": "74936edbc0b1b43b",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a2c004542e3b6cd5",
        "type": "delay",
        "z": "74936edbc0b1b43b",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "ea44cf10441f3592"
            ]
        ]
    },
    {
        "id": "97d4b054c231aa14",
        "type": "function",
        "z": "0c43c881482ce35e",
        "name": "PI IP Assignment",
        "func": "msg.payload = {\n    video: msg.payload,\n    target1: \"192.168.1.11\",\n    target2: \"192.168.1.12\",\n    target3: \"192.168.1.13\",\n    target4: \"192.168.1.14\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "ea6678219a7ad72b"
            ]
        ]
    },
    {
        "id": "2a3702f883e1ff83",
        "type": "function",
        "z": "0c43c881482ce35e",
        "name": "Load Command",
        "func": "//msg.method = \"POST\";\nmsg.url = \"http://\" + msg.payload.target3 + \":8000/image\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 200,
        "wires": [
            [
                "eeeda3dcfaab8d18"
            ]
        ]
    },
    {
        "id": "ea6678219a7ad72b",
        "type": "function",
        "z": "0c43c881482ce35e",
        "name": "Load Command",
        "func": "//msg.method = \"POST\";\nmsg.url = \"http://\" + msg.payload.target3 + \":8000/image\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [
            [
                "410525f8984a6f1a"
            ]
        ]
    },
    {
        "id": "b4e79be5a9057cfa",
        "type": "function",
        "z": "0c43c881482ce35e",
        "name": "Load Command",
        "func": "//msg.method = \"POST\";\nmsg.url = \"http://\" + msg.payload.target3 + \":8000/image\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "3ae9c747394e720c"
            ]
        ]
    },
    {
        "id": "9cfa272ff33993f4",
        "type": "function",
        "z": "0c43c881482ce35e",
        "name": "Load Command",
        "func": "//msg.method = \"POST\";\nmsg.url = \"http://\" + msg.payload.target3 + \":8000/image\";\nmsg.payload = msg.payload.video;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "a1d8ef86c686e2dc"
            ]
        ]
    },
    {
        "id": "eeeda3dcfaab8d18",
        "type": "http request",
        "z": "0c43c881482ce35e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "410525f8984a6f1a",
        "type": "http request",
        "z": "0c43c881482ce35e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 280,
        "wires": [
            [
                "067284247f04a011"
            ]
        ]
    },
    {
        "id": "3ae9c747394e720c",
        "type": "http request",
        "z": "0c43c881482ce35e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a1d8ef86c686e2dc",
        "type": "http request",
        "z": "0c43c881482ce35e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "71f522aca6b0b1fd",
        "type": "debug",
        "z": "0c43c881482ce35e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 100,
        "wires": []
    },
    {
        "id": "067284247f04a011",
        "type": "debug",
        "z": "0c43c881482ce35e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "16130791387d9c6f",
        "type": "delay",
        "z": "08a51a5c841f7d42",
        "name": "",
        "pauseType": "delay",
        "timeout": ".125",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "ec06de111f77ad04"
            ]
        ]
    },
    {
        "id": "ec06de111f77ad04",
        "type": "ui-control",
        "z": "08a51a5c841f7d42",
        "name": "Page Change",
        "ui": "854fcf2db95431c0",
        "events": "change",
        "x": 720,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "dca9da1425bfc0fd",
        "type": "delay",
        "z": "08a51a5c841f7d42",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": ".5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3aed108974248485",
        "type": "ui-event",
        "z": "e4c7b68f08d4c7ee",
        "ui": "854fcf2db95431c0",
        "name": "Image On Screens",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "694dcddea141a79f"
            ]
        ]
    },
    {
        "id": "694dcddea141a79f",
        "type": "switch",
        "z": "e4c7b68f08d4c7ee",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "$pageview",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "e8aa67f35eb595d9"
            ],
            []
        ]
    },
    {
        "id": "e8aa67f35eb595d9",
        "type": "switch",
        "z": "e4c7b68f08d4c7ee",
        "name": "Page Name",
        "property": "payload.page.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pageName",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "2c8cd43e2da123ab"
            ],
            []
        ]
    },
    {
        "id": "2c8cd43e2da123ab",
        "type": "change",
        "z": "e4c7b68f08d4c7ee",
        "name": "Image File",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "output",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "075d86db0f84619e",
        "type": "debug",
        "z": "e4c7b68f08d4c7ee",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "71d28157139d1f29",
        "type": "change",
        "z": "693ca80fe91d889d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 260,
        "wires": [
            [
                "4c6003f0f4dc4169"
            ]
        ]
    },
    {
        "id": "4c6003f0f4dc4169",
        "type": "function",
        "z": "693ca80fe91d889d",
        "name": "function 9",
        "func": "// === USER CONFIGURABLE ===\nconst start = Number(env.get(\"startVal\"));\nconst end = Number(env.get(\"endVal\"));\nconst duration = Number(env.get(\"duration\"));  // in milliseconds\nconst steps = Number(env.get(\"steps\"));\nconst channels = JSON.parse(env.get(\"channels\") || \"[1,2,3,4,5,6,7,8,9,10]\");\n\n// === CALCULATION LOGIC ===\nconst stepTime = duration / steps;\nlet currentStep = 0;\n\nconst interval = setInterval(() => {\n    let ratio = currentStep / steps;\n    if (ratio > 1) ratio = 1; // ensure max is 1 at final step\n\n    const value = Math.round(start + (end - start) * ratio);\n\n    const payload = {\n        channels: channels.map(ch => ({ channel: ch, value }))\n    };\n\n    node.send({ payload });\n\n    currentStep++;\n    if (currentStep > steps) clearInterval(interval);\n}, stepTime);\n\nreturn null; // No immediate message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 260,
        "wires": [
            [
                "d9f9f3e7c35f6ece"
            ]
        ]
    },
    {
        "id": "01f69b31c83b1177",
        "type": "debug",
        "z": "693ca80fe91d889d",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "d9f9f3e7c35f6ece",
        "type": "ola",
        "z": "693ca80fe91d889d",
        "name": "",
        "host": "127.0.0.1",
        "port": 9090,
        "universe": "2",
        "size": 512,
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "c0c6119b5673172a",
        "type": "subflow:693ca80fe91d889d",
        "z": "22e82217619fdc35",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "",
                "type": "conf-type"
            },
            {
                "name": "startVal",
                "value": "255",
                "type": "str"
            },
            {
                "name": "endVal",
                "value": "0",
                "type": "str"
            },
            {
                "name": "duration",
                "value": "1000",
                "type": "str"
            }
        ],
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "8a8153b7540e97cb",
        "type": "subflow:693ca80fe91d889d",
        "z": "22e82217619fdc35",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "",
                "type": "conf-type"
            },
            {
                "name": "duration",
                "value": "1000",
                "type": "str"
            }
        ],
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "dbe0803289959fa0",
        "type": "subflow:693ca80fe91d889d",
        "z": "22e82217619fdc35",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "",
                "type": "conf-type"
            },
            {
                "name": "endVal",
                "value": "0",
                "type": "str"
            },
            {
                "name": "duration",
                "value": "1",
                "type": "str"
            },
            {
                "name": "steps",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "deb97f9a238cc1db",
        "type": "subflow:693ca80fe91d889d",
        "z": "22e82217619fdc35",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "",
                "type": "conf-type"
            },
            {
                "name": "startVal",
                "value": "255",
                "type": "str"
            },
            {
                "name": "duration",
                "value": "1",
                "type": "str"
            },
            {
                "name": "steps",
                "value": "1",
                "type": "str"
            }
        ],
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "8d9462ef38191224",
        "type": "switch",
        "z": "22e82217619fdc35",
        "name": "",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "dbe0803289959fa0"
            ],
            [
                "deb97f9a238cc1db"
            ]
        ]
    },
    {
        "id": "e31d3e1bbafbbe80",
        "type": "switch",
        "z": "22e82217619fdc35",
        "name": "",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 200,
        "wires": [
            [
                "c0c6119b5673172a"
            ],
            [
                "8a8153b7540e97cb"
            ]
        ]
    },
    {
        "id": "003d55864018ee5d",
        "type": "switch",
        "z": "22e82217619fdc35",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "fade",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "binary",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "e31d3e1bbafbbe80"
            ],
            [
                "8d9462ef38191224"
            ]
        ]
    },
    {
        "id": "3509abaead0a5994",
        "type": "function",
        "z": "22e82217619fdc35",
        "name": "function 4",
        "func": "let state = context.get(\"state\") || 0;\nstate = state === 0 ? 1 : 0;\ncontext.set(\"state\", state);\n\nmsg.state = state;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "003d55864018ee5d",
                "18e18f1f8c6bface"
            ]
        ]
    },
    {
        "id": "9912b6f5d29e2352",
        "type": "delay",
        "z": "22e82217619fdc35",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "3509abaead0a5994"
            ]
        ]
    },
    {
        "id": "18e18f1f8c6bface",
        "type": "debug",
        "z": "22e82217619fdc35",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ec908a82f9b4275",
        "type": "inject",
        "z": "d1331c655e18cc12",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "5e7c01a6ad90cf32"
            ]
        ]
    },
    {
        "id": "7d090bb2e77d8e3c",
        "type": "debug",
        "z": "d1331c655e18cc12",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "5e7c01a6ad90cf32",
        "type": "change",
        "z": "d1331c655e18cc12",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello World!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "7d090bb2e77d8e3c"
            ]
        ]
    },
    {
        "id": "88c163437a955ca9",
        "type": "comment",
        "z": "d1331c655e18cc12",
        "name": "test",
        "info": "test push 1\n",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "0472fc5638a4259e",
        "type": "catch",
        "z": "d1331c655e18cc12",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f19852181255e293",
        "type": "function",
        "z": "d1331c655e18cc12",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "c54400f3b064a677"
            ]
        ]
    },
    {
        "id": "c54400f3b064a677",
        "type": "change",
        "z": "d1331c655e18cc12",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 440,
        "wires": [
            [
                "8c11fa4bfc360b6b"
            ]
        ]
    },
    {
        "id": "8c11fa4bfc360b6b",
        "type": "debug",
        "z": "d1331c655e18cc12",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e5d0f948a1dc91e",
        "type": "subflow:1b607c4bf53459a4",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            }
        ],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "3d34660d437fe7d7"
            ]
        ]
    },
    {
        "id": "82545d0e657a932d",
        "type": "subflow:ae0cbc766fdbb2ea",
        "z": "d1331c655e18cc12",
        "d": true,
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            }
        ],
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "f2dd97c861dc14b7",
        "type": "subflow:1899ad506aec9742",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            }
        ],
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "ed0a01b425e9e9c2",
        "type": "subflow:1b607c4bf53459a4",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            },
            {
                "name": "top",
                "value": "400",
                "type": "str"
            }
        ],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "9ab20f40c3a3e4b3"
            ]
        ]
    },
    {
        "id": "b556d3e8276463f0",
        "type": "subflow:1b607c4bf53459a4",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            },
            {
                "name": "left",
                "value": "800",
                "type": "str"
            }
        ],
        "x": 330,
        "y": 320,
        "wires": [
            [
                "26bff3e43c59e48e"
            ]
        ]
    },
    {
        "id": "aae9236559326728",
        "type": "subflow:1b607c4bf53459a4",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "c3989f5aa8752b8b",
                "type": "conf-type"
            },
            {
                "name": "left",
                "value": "800",
                "type": "str"
            },
            {
                "name": "top",
                "value": "400",
                "type": "str"
            }
        ],
        "x": 330,
        "y": 380,
        "wires": [
            [
                "4b2fa71e0ea027cf"
            ]
        ]
    },
    {
        "id": "3d34660d437fe7d7",
        "type": "subflow:693ca80fe91d889d",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "",
                "type": "conf-type"
            }
        ],
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "9ab20f40c3a3e4b3",
        "type": "subflow:693ca80fe91d889d",
        "z": "d1331c655e18cc12",
        "name": "",
        "env": [
            {
                "name": "group",
                "value": "",
                "type": "conf-type"
            },
            {
                "name": "startVal",
                "value": "255",
                "type": "str"
            },
            {
                "name": "endVal",
                "value": "0",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "26bff3e43c59e48e",
        "type": "wled2",
        "z": "d1331c655e18cc12",
        "address": "192.168.1.50",
        "brightness": 128,
        "delay": 0,
        "color1": "#ffffff",
        "color2": "#ffffff",
        "color3": "#ffffff",
        "effect": 0,
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 470,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4b2fa71e0ea027cf",
        "type": "wled2",
        "z": "d1331c655e18cc12",
        "address": "192.168.1.50",
        "brightness": 128,
        "delay": 0,
        "color1": "#0016ff",
        "color2": "#ffffff",
        "color3": "#ffffff",
        "effect": 0,
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "",
        "palette": "0",
        "preset": 0,
        "state": "on",
        "x": 470,
        "y": 380,
        "wires": [
            []
        ]
    }
]